<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body class="bg-[#09101F]">
    <div class="py-24 px-44">
        <div class="px-2 border w-full rounded-2xl">
            <table class="border-collapse w-full">
                <tr>
                    <th class="">&nbsp;</th>
                    <th>موارد</th>
                    <th>زمان تحویل</th>
                    <th>زمان سفارش</th>
                    <th>وضعیت</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>کودتا</td>
                    <td>02/9/13</td>
                    <td>02/9/11</td>
                    <td>درحال بررسی...</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>کودتا</td>
                    <td>02/9/13</td>
                    <td>02/9/11</td>
                    <td>درحال بررسی...</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>کودتا</td>
                    <td>02/9/13</td>
                    <td>02/9/11</td>
                    <td>درحال بررسی...</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>کودتا</td>
                    <td>02/9/13</td>
                    <td>02/9/11</td>
                    <td>درحال بررسی...</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>