{% extends "base_template.html" %} {% load static %} {% block main %}
<div class="container mx-auto pt-7 pb-12 px-3 sm:px-0">
    <div class="flex flex-wrap">
        {% for game in games %}
        <div class="game-card">
            <a href="{% url 'games_data' game_id=game.id %}" class="w-11/12 sm:w-5/6">
                <div class="flex items-center w-full p-3 xl:p-5 bg-[#1A2A4D] border-2 border-[#A9AEAE] rounded-2xl xl:rounded-3xl">
                    <div class="w-3/5 overflow-hidden">
                        <p class="text-start font-bold text-sm sm:text-sm md:text-base lg:text-xl xl:text-2xl break-words">{{ game.name }}</p>
                    </div>
    
                    <div class="w-2/5 border-2 border-[#A9AEAE] rounded-lg xl:rounded-xl overflow-hidden">
                        <img src="{% get_media_prefix %}{{ game.picture }}" class="w-full aspect-square object-cover" />
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
