{% extends "base_template.html" %}
{% load static %}
{% block main %}
        <div class="flex pt-12  justify-between"> 
            <div class="max-w-5xl">
                <h1 class="text-7xl pb-5">کودتا</h1>
                <span class="text-xl font-[Vazir] align-middle leading-10">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </span>
            </div>
            <div class="max-w-full">
                <img src="/static/images/coupmora.jpg" class="w-[474px] h-[474px] rounded-xl"  alt="">
            </div>
        </div>
        <div class="py-16">
            <ul class="flex py-14 border-solid border-2 border-[#A9AEAE] rounded-2xl justify-between">
                <li class="px-24 text-3xl">داستان</li>
                <li class="px-24 text-3xl">مشخصات بازی</li>
                <li class="px-24 text-3xl">نظرات کاربران</li>
                <li class="px-24 text-3xl">بازی های مشابه</li>
            </ul>
        </div>
{% endblock %}