{% extends "base_template.html" %}
{% load static %}
{% block main %}
    <div class="container mx-auto">
        <h1 class=" text-[#A9AEAE] pb-5 font-[Anjoman] text-[40px] "> مجموعه رومزی</h1>
        {% for aboutus in AboutUs %}
            <p class="text-[#A9AEAE] font-[Anjoman] text-[20px] text-justify">{{ aboutus.description }}</p>
        {% endfor %}
    </div>
    <div class="container  m-auto">
        <h2 class=" text-[#A9AEAE] pb-5 font-[Anjoman] text-[30px] pt-[97px]">اعضای تیم ما</h2>
        <div class="flex justify-between pb-10 pt-8">
            {% for team_members in TeamMembers %}
                <div class="w-[calc(100%/10)]">
                    <img class="rounded-full w-full aspect-square"
                         src="{% get_media_prefix %}{{ team_members.picture }}" alt="user">
                    <div class="text-center pt-3 text-[#A9AEAE] text-2xl font-[Anjoman]">
                        <p class="pb-2">{{ team_members.full_name }}</p>
                        <p class="text-base">{{ team_members.get_role_display }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="container  m-auto ">
            <h2 class=" text-[#A9AEAE] pb-5 font-[Anjoman] text-[30px] pt-[97px]">راه های ارتباطی با ما</h2>
            <div class="flex justify-between pb-10 pt-8">
                {% for socisl_media in SocialMedia %}
                    <div class="w-[calc(100%/8)]">
                        <a href="{{ social_media.link }}">
                            <div class="w-full">
                                <img src="{% get_media_prefix %}{{ socisl_media.icon }}"
                                     class="w-full object-fill aspect-square" alt="">
                            </div>
                            <div class="text-center pt-[24px]">
                                <span class="text-[#A9AEAE] text-[30px] font-[Anjoman]">{{ socisl_media.title }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}