{% extends "base_template.html" %}
{% load static %}
{% block main %}
        <div class="pt-14 pb-16 ">
            <div class="bg-[url('{% static 'images/Rectangle1.png' %}')] rounded-2xl h-[884px] bg-no-repeat bg-cover w-full relative">
                <div class="absolute flex bottom-0">
                    <button class="p-1">
                        <i class="fa-solid fa-circle-chevron-right text-3xl"></i>
                    </button>
                    <button class="p-1">
                        <i class="fa-solid fa-circle-chevron-left text-3xl"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="pr-12">    
            <span class="text-2xl">لیست بازی ها</span>
        </div>
        <div class="flex text-center justify-center">
            <button>    
                <i class="fa-solid fa-circle-arrow-right text-5xl"></i>
            </button>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="{% static 'images/Mafia-compressor-500x500.jpg' %}" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <button>
                <i class="fa-solid fa-circle-arrow-left text-5xl"></i>
            </button>
        </div>
        </div>
        </div>
        {% endblock %}