{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رومزی</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-[#09101F] text-[#A9AEAE] font-anjoman">

    <header class="container mx-auto border-b-2 border-b-[#A9AEAE] pt-5">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <img src="../static/images/logo.png" alt="logo" width="53" />
                <nav class="ps-6 text-xl">
                    <ul class="list-none flex">
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a
                                href="../commons/templates/commons/index.html">صفحه اصلی</a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a
                                href="../events/templates/events/events.html">ایونت ها <i
                                    class="fa-solid fa-chevron-down text-xs"></i></a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="Games.html"> بازی ها <i
                                    class="fa-solid fa-chevron-down text-xs"></i></a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="#">درباره ما</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex">
                <div
                    class="flex items-center justify-between p-[7px] rounded-lg bg-[#D9D9D9] text-sm text-[#09101F] placeholder:text-[#3B404C]">
                    <input type="text" class="outline-none bg-inherit" placeholder="جستجو..." />
                    <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                </div>
                <button
                    class="ms-4 p-2 border-2 border-solid border-[#A9AEAE] rounded-lg flex justify-between items-center">
                    <span class="pe-1 text-xs">ورود/ثبت نام</span>
                    <i class="fa-solid fa-arrow-right-to-bracket" style="color:#A9AEAE;"></i>
            </div>
        </div>
    </header>
    <main class="text-center mx-44">
        {% block main %}{% endblock %}
    </main>
    <div id="Login-popup-container" onclick="closePopup(event)"
        class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90 hidden">
        <div id="login-signup" class="bg-[#09101F] text-center rounded-3xl px-28 py-12 shadow-inner">
            <form action="" class="font-anjoman">
                <img class="m-auto " src="/static/images/Roomzi-logo[Recovered].png" width="210px" alt="">
                <div class="pb-4">
                    <h2 class="text-[#A9AEAE] text-4xl pb-7">ورود | ثبت نام</h2>
                    <input maxlength="11" name="phone-number" placeholder="شماره موبایل" dir="rtl" type="text"
                        class="p-1 rounded-lg outline-none">
                </div>
                <input id="enter-btn" class="bg-[#B0B2B7] py-2 px-12 text-2xl rounded-xl  text-[#09101F]" type="submit"
                    value="ورود">
            </form>
        </div>
    </div>
    <div id="Login-popup-container" onclick="closePopup(event)"
        class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90 hidden">
        <form action="" class=" font-anjoman bg-[#09101F] text-center rounded-3xl px-28 py-12 shadow-inner">
            <img class="m-auto " src="/static/images/Roomzi-logo[Recovered].png" width="210px" alt="">
            <p class="font-anjoman text-[#A9AEAE] text-center ">کد ارسالی را وارد نمایید</p>
            <div class="flex justify-center py-8">
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
            </div>
            <div class="flex justify-center">
                <div>
                    <input id="enter-btn" class=" py-2 px-12 text-2xl rounded-xl  text-[#09101F]" type="button"
                        value="تایید">
                </div>
            </div>
        </form>
    </div>
    <div id="signup" class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90">
        <form action="#" class="w-2/5 bg-[#09101F] rounded-[40px]">
            <div class="w-1/4 mx-auto pt-6">
                <img src="{% static 'images/Roomzi-logo[Recovered].png' %}" alt="">
            </div>
            <div class="w-full flex justify-evenly items-center pe-4">
                <div class="w-[45%]">
                    <div class="flex items-center py-4">
                        <label class="w-3/12 text-end text-sm pe-2">نام</label>
                        <input type="text" class="outline-none rounded-lg py-2 w-7/12 px-2 text-xs text-[#09101F]">
                    </div>
                    <div class="flex items-center py-4">
                        <label class="w-3/12 text-end text-sm pe-2">ایمیل</label>
                        <input type="text" class="outline-none rounded-lg py-2 w-7/12 px-2 text-xs text-[#09101F]">
                    </div>
                </div>
                <div class="w-[45%]">
                    <div class="flex items-center py-4">
                        <label class="w-5/12 text-end text-sm pe-2">نام خانوادگی</label>
                        <input type="text" class="outline-none rounded-lg py-2 w-7/12 px-2 text-xs text-[#09101F]">
                    </div>
                    <div class="flex items-center py-4">
                        <label class="w-5/12 text-end text-sm pe-2">تاریخ تولد</label>
                        <input type="date" class="outline-none rounded-lg py-2 w-7/12 px-2 text-xs text-[#09101F]">
                    </div>
                </div>
            </div>
            <div class="mx-auto w-2/5 pt-5">
                <div class="relative w-full text-[#09101F] text-xs">
                    <i class="fa-solid fa-chevron-down absolute left-2 top-[48%] translate-y-[-50%]"></i>
                    <select class="w-full outline-none text-sm py-3 px-2 rounded-lg appearance-none text-xs" style="-webkit-appearance: none;" required>
                        <option value="" disabled selected hidden>چگونه با ما آشنا شدید؟</option>
                        <option value="school">مدرسه</option>
                        <option value="student">دانش اموزان</option>
                        <option value="etc">غیره</option>
                    </select>
                </div>
                <div class="pt-36 pb-7 w-2/3 mx-auto">
                    <input type="submit" value="ثبت نام" class="bg-[#B0B2B7] text-[#09101F] w-full rounded-2xl py-2 px-9 cursor-pointer" />
                </div>
            </div>
        </form>
    </div>
    <footer class="bg-[#070B12]">
        <div class="footer-up h-60 mx-44 flex items-center justify-between">
            <div class="about text-center">
                <h3 class="text-[#A9AEAE]">درباره ما</h3>
                <p dir="rtl" class="w-52 text-white text-center font[Vazir]">
                    مجموعه رومزی یک اتاق جهت انجام بازی های رومیزی(Board games) و گروهی است که برای اولین بار در هنرستان
                    باقرالعلوم افتتاح شد.
                </p>
            </div>
            <div class="questions text-center">
                <h3 class="text-[#A9AEAE]">سوالات متداول</h3>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>
            <div class="social-media">
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/instagram-167-svgrepo-com.svg" alt="">
                    <p class="text-white">_roomzi_</p>
                </div>
                <div class="my-4 aparat flex">
                    <img class="w-5" src="/static/images/aparat-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>
                <div class="my-4 youtube flex">
                    <img class="w-5" src="/static/images/youtube-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/free_icon_1.svg" alt="">
                    <p class="text-white">roomzi.vrn@gmail.com</p>
                </div>
            </div>
            <div class="logos flex">
                <div class="p-2">
                    <img class="w-24 " src="/static/images/samandehi.png" alt="">
                </div>
                <div class="p-2">
                    <img class="w-24 " src="/static/images/enamad-logo.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/c37d4d6158.js" crossorigin="anonymous"></script>
</body>
</html>