<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class=" mx-44 flex border-solid border-b-2 border-b-[#A9AEAE] justify-between ">    
        <div class="flex items-center">
            <div class="pr-4">
                <button onclick="openPopup()">
                    <div class="items-center justify-items-center flex nav-btn p-1 border-solid border-2 border-[#A9AEAE] rounded-lg">
                        <img class="w-5 text-center" src="/static/images/login-3-svgrepo-com.svg" alt="">
                        <p class="font-anjoman  text-[#A9AEAE] text-xs">ورود/ثبت نام</p>
                    </div>
                </button>
            </div>
            <div class="flex bg-white text-center p-1 rounded-lg shadow-inner">
                <img src="/static/images/SVGRepo_iconCarrier.svg" alt="" class="text-center">
                <input name="search" placeholder="جستجو..." class="focus:outline-none font-anjoman" dir="rtl" type="text">
            </div>
        </div>
        <div class="items-center  nav-rigt flex">
            <a class="nav__text" href="">درباره ما</a> 
            <a class="nav__text" href="">آموزش بازی ها</a>
            <a class="nav__text" href="events.html">ایونت ها</a>
            <a class="nav__text" href="index.html">صفحه اصلی</a>
            <img src="/static/images/logo.png" alt="" class="h-20 w-12">
        </div>
    </nav>
    <main>
    </main>
    <footer class="bg-[#070B12]">
        <div class="footer-up h-60 mx-44 flex items-center justify-between">
            <div class="logos flex">
                <div class="p-2">
                    <img class="w-24 " src="/static/images/samandehi.png" alt="">
                </div>
                <div class="p-2">
                    <img class="w-24 " src="/static/images/enamad-logo.png" alt="">
                </div>
            </div>

            <div class="social-media">
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/instagram-167-svgrepo-com.svg" alt="">
                    <p class="text-white">_roomzi_</p>
                </div>
                <div class="my-4 aparat flex">
                    <img class="w-5" src="/static/images/aparat-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>   
                <div class="my-4 youtube flex">
                    <img class="w-5" src="/static/images/youtube-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>   
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/free_icon_1.svg" alt="">
                    <p class="text-white">roomzi.vrn@gmail.com</p>
                </div>
            </div>

            <div class="questions text-center">
                <h3 class="text-[#A9AEAE]">سوالات متداول</h3>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>

            <div class="about text-center">
                <h3 class="text-[#A9AEAE]">درباره ما</h3>
                <p dir="rtl" class="w-52 text-white text-center font[Vazir]">
                    مجموعه رومزی یک اتاق  جهت انجام بازی های رومیزی(Board games) و گروهی است که برای اولین بار در هنرستان باقرالعلوم افتتاح شد.
                </p>
            </div>

        </div>
    </footer>
</body>
</html>