<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/output.css" rel="stylesheet">
    <script src="/static/JS/pop-up.js" defer></script>
</head>

<body class="bg-[#09101F] text-[#A9AEAE] font-anjoman">

    <header class="container mx-auto border-b-2 border-b-[#A9AEAE] pt-5">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <img src="../static/images/logo.png" alt="logo" width="53" />
                <nav class="ps-6 text-xl">
                    <ul class="list-none flex">
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="#">صفحه اصلی</a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="#">ایونت ها <i
                                    class="fa-solid fa-chevron-down text-xs"></i></a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="#"> بازی ها <i
                                    class="fa-solid fa-chevron-down text-xs"></i></a></li>
                        <li class="pe-6 hover:drop-shadow-[0px_0px_3px_#F00]"><a href="#">درباره ما</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex">
                <div
                    class="flex items-center justify-between p-[7px] rounded-lg bg-[#D9D9D9] text-sm text-[#09101F] placeholder:text-[#3B404C]">
                    <input type="text" class="outline-none bg-inherit" placeholder="جستجو..." />
                    <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                </div>
                <button
                    class="ms-4 p-2 border-2 border-solid border-[#A9AEAE] rounded-lg flex justify-between items-center">
                    <span class="pe-1 text-xs">ورود/ثبت نام</span>
                    <i class="fa-solid fa-arrow-right-to-bracket" style="color: ##A9AEAE;"></i>
            </div>
        </div>
    </header>
    <main class="container mx-auto">
        <div class="pt-14 pb-16 ">
            <div class="bg-[url('/static/images/Rectangle1.png)] h-[584px] bg-no-repeat bg-cover w-full relative">
                <div     class="absolute flex bottom-0">
                    <button class="p-1">
                        <i class="fa-solid fa-circle-chevron-right text-3xl"></i>
                    </button>
                    <button class="p-1">
                        <i class="fa-solid fa-circle-chevron-left text-3xl"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="pr-12">    
            <span class="text-2xl">لیست بازی ها</span>
        </div>
        <div class="flex text-center justify-center">
            <button>    
                <i class="fa-solid fa-circle-arrow-right text-5xl"></i>
            </button>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <div class="p-3">
                <img class="w-32 h-32 text-center rounded-2xl" src="/static/images/Mafia-compressor-500x500.jpg" alt="">
                <p class="  text-[#A9AEAE]">مافیا</p>
            </div>
            <button>
                <i class="fa-solid fa-circle-arrow-left text-5xl"></i>
            </button>
        </div>
        </div>
        </div>
    </main>

    <div id="Login-popup-container" onclick="closePopup(event)"
        class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90 hidden">
        <div id="login-signup" class="bg-[#09101F] text-center rounded-3xl px-28 py-12 shadow-inner">
            <form action="" class="font-anjoman">
                <img class="m-auto " src="/static/images/Roomzi-logo[Recovered].png" width="210px" alt="">
                <div class="pb-4">
                    <h2 class="text-[#A9AEAE] text-4xl pb-7">ورود | ثبت نام</h2>
                    <input maxlength="11" name="phone-number" placeholder="شماره موبایل" dir="rtl" type="text"
                        class="p-1 rounded-lg outline-none">
                </div>
                <input id="enter-btn" class="bg-[#B0B2B7] py-2 px-12 text-2xl rounded-xl  text-[#09101F]" type="submit"
                    value="ورود">
            </form>
        </div>
    </div>

    <div id="Login-popup-container" onclick="closePopup(event)"
        class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90 hidden">
        <form action="" class=" font-anjoman bg-[#09101F] text-center rounded-3xl px-28 py-12 shadow-inner">
            <img class="m-auto " src="/static/images/Roomzi-logo[Recovered].png" width="210px" alt="">
            <p class="font-anjoman text-[#A9AEAE] text-center ">کد ارسالی را وارد نمایید</p>
            <div class="flex justify-center py-8">
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
                <div class="px-2">
                    <input class="w-8 h-8 rounded-lg outline-none text-center" maxlength="1" type="text" name="en-code">
                </div>
            </div>
            <div class="flex justify-center">
                <div>
                    <input id="enter-btn" class=" py-2 px-12 text-2xl rounded-xl  text-[#09101F]" type="button"
                        value="تایید">
                </div>
            </div>
        </form>
    </div>

    <div id="signup" class="fixed inset-0 flex justify-center items-center bg-gray-600 bg-opacity-90 hidden">
        <form dir="rtl" action="" class="text-[#A9AEAE] font-anjoman bg-[#09101F] text-center rounded-3xl px-9 py-8 ">
            <img class="m-auto" src="/static/images/Roomzi-logo[Recovered].png" width="209px" alt="">
            <div>
                <div class="flex">
                    <div>
                        <p class="px-2">نام</p>
                    </div>
                    <div>
                        <input class="w-44" name="first-name" type="text">
                    </div>
                    <div>
                        <p class="px-2">نام خانوادگی</p>
                    </div>
                    <div>
                        <input class="w-44" name="lasst-name" type="text">
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <p class="px-2">ایمیل</p>
                    </div>
                    <div>
                        <input class="w-44" name="email" type="email">
                    </div>
                    <div>
                        <p class="px-2">تاریخ تولد</p>
                    </div>
                    <div>
                        <input class="w-44" name="first-name" type="date">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <footer class="bg-[#070B12]">
        <div class="footer-up h-60 mx-44 flex items-center justify-between">
            <div class="about text-center">
                <h3 class="text-[#A9AEAE]">درباره ما</h3>
                <p dir="rtl" class="w-52 text-white text-center font[Vazir]">
                    مجموعه رومزی یک اتاق جهت انجام بازی های رومیزی(Board games) و گروهی است که برای اولین بار در هنرستان
                    باقرالعلوم افتتاح شد.
                </p>
            </div>
            <div class="questions text-center">
                <h3 class="text-[#A9AEAE]">سوالات متداول</h3>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
                <p class="text-white my-2 font-[Vazir]">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>
            <div class="social-media">
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/instagram-167-svgrepo-com.svg" alt="">
                    <p class="text-white">_roomzi_</p>
                </div>
                <div class="my-4 aparat flex">
                    <img class="w-5" src="/static/images/aparat-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>
                <div class="my-4 youtube flex">
                    <img class="w-5" src="/static/images/youtube-svgrepo-com.svg" alt="">
                    <p class="text-white">Roomzi</p>
                </div>
                <div class="my-4 instagram flex">
                    <img class="w-5" src="/static/images/free_icon_1.svg" alt="">
                    <p class="text-white">roomzi.vrn@gmail.com</p>
                </div>
            </div>
            <div class="logos flex">
                <div class="p-2">
                    <img class="w-24 " src="/static/images/samandehi.png" alt="">
                </div>
                <div class="p-2">
                    <img class="w-24 " src="/static/images/enamad-logo.png" alt="">
                </div>
            </div>
        </div>
        
    </footer>
    <script src="https://kit.fontawesome.com/c37d4d6158.js" crossorigin="anonymous"></script>
</body>

</html>